.gamePage { // overall page
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .gameFrame {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  height: 90%;
  border: white 4px solid;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  .top { // yellow shell
    background-color: #FCCF00;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: white 4px solid;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;

    img { // logo
      width: 38vh;
    }
  }

  .game {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;
      height: 100%;

      p { // temporary
        font-size: 5vh;
        color: white;
        margin: 0;
        padding: 1rem;
      }
    }
  }
}

.bottom {
    background-color: #4C4B53;
    width: 80vw;
    height: 7%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border: black 4px solid;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    button {
        position: relative;
        background-color: transparent;
        border: none;

        p { // linkedin
          position: absolute;
          font-size: 4vh;
          color: white;
          font-weight: bold;
          top: 35%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    }

    #restart {
      &:hover {
          transform: scale(1.02);
          cursor: pointer;

          p {
            transition: 0.7s ease;
            color: black;
          }
        }
      
      img {
        width: 15vh;
      }
      
      p {
        font-size: 2.4vh;
        top: 30%;
        transition: 0.7s ease;
      }
    }

    .right { // joystick + social buttons
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      width: 40%;
    }

    #joystick {
      width: 7vh;
      z-index: 1;
      margin-right: 1rem;
      margin-bottom: 0.4rem;
    }

    .buttons { // socials
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;

      button {
        p {
          transition: color 0.7s ease;
        }

        &:hover {
            transform: scale(1.03);
            cursor: pointer;

            p {
              transition: 0.7s ease;
              color: black;
            }

            .buttonIcon {
              transition: 0.7s ease;
              filter: invert(100%);
            }
        }
      }

      .buttonImage {
        position: relative;
        width: 9vh;
        margin: 0rem 0.5rem;
      }

      .buttonIcon {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3.5vh;
        transition: filter 0.7s ease;
      }
    }
  }
}

.pacman {
  position: relative;
}

.gameContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
  margin: 0;
  min-width: 40vw;
  max-width: 90vw;
  
  p {
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    color: white;
    padding: 1rem 2rem;
  }
}