.gamePage { // overall page
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 1vmin;
  touch-action: none;

  .gameFrame {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  height: 90%;
  border: white 0.6vh solid;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;

  .top { // yellow shell
    background-color: #FCCF00;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: white 0.6vh solid;
    border-top-left-radius: 4.5vw;
    border-top-right-radius: 4.5vw;

    img { // logo
      width: 38vh;
    }
  }

  .game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86%;

    .panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 23%;
      height: 100%;
      padding: 0 2vw;

      #pacmanText {
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
          width: 2.5em;
          margin-right: 1.5em;
        }

        p {
          width: 70%;
          font-weight: bold;
          text-align: left;
        }
      }

      .arrows {
        width: 7em;
        margin: 1em 0;
      }

       #panelHeader {
        font-weight: bold;
        text-align: left;
      }

      .ghost {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        margin: 1em 0;
        background-color: transparent;
        color: white;
        border: none;

        &:hover {
          img {
            transition: 0.7s ease;
            transform: scale(1.05);
          }

          p {
            transition: 0.7s ease;
            transform: scale(1.05);
          }

          #red {
            color: red;
          }

          #pink {
            color: pink;
          }

          #blue {
            color: cyan;
          }

          #orange {
            color: darkorange;
          }
        }

        img {
          transition: 0.7s ease;
          width: 1.5vw;
          margin-right: 0.7em;
        }

        p {
          width: 80%;
          text-align: left;
          transition: 0.7s ease;
          font-size: 1.3vw;
          
        }
      }

      #footer {
        font-style: italic;
        font-size: 1.5em;
        margin-top: 0.3em;
      }
    }
  }
}

.bottom {
    background-color: #4C4B53;
    width: 85vw;
    height: 7%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border: black 0.8vh solid;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    button {
        position: relative;
        background-color: transparent;
        border: none;

        p { // linkedin
          position: absolute;
          font-size: 2.5vw;
          color: white;
          font-weight: bold;
          top: 37%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    }

    #restart {
      &:hover {
          transform: scale(1.02);
          cursor: pointer;

          p {
            transition: color 0.7s ease;
            color: black;
          }
        }
      
      img {
        width: 9vw;
      }
      
      p {
        font-size: 1.4vw;
        top: 30%;
        transition: color 0.7s ease;
      }
    }

    .right { // joystick + social buttons
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      min-width: 40%;
    }

    #joystick {
      width: 3.5vw;
      z-index: 1;
      margin-right: 0.5vw;
      margin-bottom: 0.4vw;
    }

    .buttons { // socials
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;

      button {
        p {
          transition: color 0.7s ease;
        }

        &:hover {
            transform: scale(1.03);
            cursor: pointer;

            p {
              transition: 0.7s ease;
              color: black;
            }

            .buttonIcon {
              transition: 0.7s ease;
              filter: invert(100%);
            }
        }
      }

      .buttonImage {
        position: relative;
        width: 5vw;
        margin: 0 0.7vw;
      }

      .buttonIcon {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2vw;
        transition: filter 0.7s ease;
      }
    }
  }
}

.pacman {
  position: relative;
}

.gameContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  margin: 0;
  min-width: 35vw;
  max-width: 95vw;
  
  p {
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    color: white;
    padding: 1em 2em;
    font-size: 1.5vw;
  }
}

@media (max-aspect-ratio: 1.2) {
  .gamePage { 
    .gameFrame {
      width: 90%;
      height: fit-content;
      min-height: 70%;

      .top img {
        height: 80%;
        max-width: 90%;
        object-fit: contain;
      }

      .game {
        flex-direction: column;
        justify-content: space-around;
        
        .panel {
          flex-direction: row;
          width: 98%;
          padding: 2vw 0;
          height: fit-content;

          #pacmanText {
            margin-right: 2vw;
            
            img {
              width: 4vw;
            }

            p {
              width: fit-content;
              font-size: 2.5vw;
            }
          }

          .swipe {
            width: 4em;
            margin: 1vw 0;
          }

          .arrows {
            width: 7vw;
            margin: 0 1vw;
            padding-bottom: 2vw;
          }
        }

        #ghostPanel {
          justify-content: space-between;
          flex-direction: column;
          padding: 2vw 0;
          height: fit-content;
          margin-bottom: 1vw;

          #panelHeader {
            font-size: 2.5vw;
          }

          .ghosts {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            width: 90%;
            margin: 1vw 0;

            .ghost {
              width: fit-content;
              margin: 0 1vw;

              img {
                width: 3vw;
                margin-right: 1vw;
              }

              p {
                font-size: 2.5vw;
              }
            }
          }

          #footer {
            font-size: 1.5vw;

            br {
              display: none;
            }
          }
        }
      }
    }

    .bottom {
      width: 100vw;

      #joystick {
        width: 5vw;
        margin-right: 3vw;
      }

      #restart {
        img {
          width: 12vw;
        }

        p {
          font-size: 2vw;
        }
      }

      .right .buttons {
        width: 100%;

        .buttonImage {
          width: 8vw;
          margin: 0 1.5vw;
        }

        .buttonIcon {
          width: 3vw;
        }
      }
    }

    .info {
      min-width: 80vw;
      max-width: 95vw;
      
      p {
        background: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
        color: white;
        padding: 1em 2em;
        font-size: 3vw;
      }
    }
  }
}

@media (max-aspect-ratio: 0.7) {
  .gamePage .bottom {
      height: 10%;
      align-items: center;

      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;
        margin-bottom: 0.2vw;

        #joystick {
          margin: 0;
          margin-bottom: 1vw;
          width: 9vw;
        }

        #restart {
          img {
            width: 18vw;
          }

          p {
            font-size: 2.8vw;
          }
        }
      }

      .right {
        .buttons {
          width: 100%;

          p {
            font-size: 6vw;
          }

          .buttonImage {
            width: 12vw;
            margin: 0 2vw;
          }

          .buttonIcon {
            width: 5vw;
          }
        }
      }
    }
}