#experiencePage {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

#experienceContent {
  height: 100%;
  position: relative;

  #desk {
    position: absolute;
    top: 60%;
    left: 44%;
    transform: translate(-50%, -50%);
    width: 60vw;
  }

  #backAvatar {
    position: absolute;
    top: 74%;
    left: 36%;
    transform: translate(-50%, -50%);
    width: 13vw;
  }

  #cabinetContainer {
    position: absolute;
    top: 8%;
    left: 69%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #cabinet {
      width: 26vw;
    }

    #cabinetTop {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      top: -10%;
      width: 80%;

      img {
        width: 8vw;
        margin: 0 1vw;
      }
    }

    #cabinetContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      justify-content: space-between;
      top: 17%;
      width: 100%;
      height: 75%;

      .cabinetRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;

        img {
          max-width: 3.5vw;
          max-height: 3.5vw;
        }
      }
    }

    
  }

  .shelfContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .companyImage {
      position: absolute;
      bottom: 65%;
      width: 13vw;
    }

    .shelf {
      width: 13vw;
    }

    p {
      position: absolute;
      bottom: 45%;
      padding: 0 0.5rem;
      font-size: 0.8rem;
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
    }
  }

  #capitalone {
    top: 54%;
    left: 0%;

    .companyImage {
      width: 15vw;
    }
  }

  #mathworks {
    top: 25%;
    left: 5%;
    .companyImage {
      width: 11vw;
      bottom: 10%;
    }
  }

  #dalilab {
    top: 12%;
    left: 25%;

    .companyImage {
      width: 16vw;
      bottom: 0%;
    }
  }

  #vitalize {
    top: 22%;
    left: 48%;

    .companyImage {
      width: 11vw;
    }
  }

  
}