.projectPage {
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 1.3vw;
}

.projectHeader {
  width: 90%;
  display: flex;
  align-items: flex-start;
  
  img {
    width: 18vw;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 2vw;

    h1 {
      font-size: 3vw;
      font-weight: bold;
    }

    p {
      margin: 0.6vw 0;
      font-size: 1.3vw;
    }

    .entry {
      display: flex;
      align-items: center;

      img { // icon
        width: 1.2vw;
        height: 1.5vw;
        margin-right: 1vw;
        margin-left: 0.3vw;
        object-fit: contain;
      }
    }

    .buttons {
      margin-top: 0.5vw;

      button {
        background-color: #3373FF;
        color: white;
        border: 0.1vw solid white;
        line-height: 0.5vw;
        margin-right: 1.5vw;
        padding: 0.1vw 0.7vw;
        background-color: none;
        font-size: 1vw;

        &:hover {
          background-color: white;
          color: #3373FF;
        }
      }
    }
  }
}

.projectDetailRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4vw 0;
  font-size: 1.3vw;

  .photo, .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 30vw;

    p {
      transition: 0.5s ease;
      width: 85%;
      font-size: 1.2vw;
      margin-top: 0.5vw;
      transition: 2.7 ease;
      text-align: center;
    }

    img {
      transition: 0.5s ease;
    }

    &:hover {
      cursor: pointer;

      img {
        transition: 0.5s ease;
        filter: invert(0.2);
      }

      p {
        transition: 0.5s ease;
        color: gold;
        font-weight: bold;
      }
    }
  }

  .photo {
    .wide {
      width: 28vw;
    }

    .long {
      width: 20vw;
      max-height: 24vw;
    }

    img {
      width: 20vw;
      max-height: 20vw;
      object-fit: contain;
    }
  }

  .video {
    width: 30vw;
    height: 30vw * .5625;
  }

  .text {
    width: 60%;;

    .title {
      display: flex;
      align-items: center;

      img {
        margin-right: 0.5vw;
        width: 1.7vw;
        object-fit: contain;
      }

      h2 {
        font-size: 2vw;
        color: gold;
        font-weight: bold;
      }
    }

    p {
      font-size: 1.3vw;
    }

    ul {
      margin-left: 2vw;

      strong {
        font-weight: bold;
        font-size: 1.3vw;
        padding-right: 0.2vw;
        color: lightgoldenrodyellow;
      }

      li {
        margin: 0.5vw 0;
        font-size: 1.3vw;

        a {
          color: lightblue;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.projectPage .backtotop {
  width: fit-content;
  align-self: center;
  font-size: 2vw;
  transition: 0.5s ease;

  &:hover {
    transition: 0.5s ease;
    cursor: pointer;
    color: #3373FF;
  }
}

.projectPage .fullImage {
  transition: 0.5s ease;
  &:hover {
    transition: 0.5s ease;
    cursor: pointer;
    filter: invert(0.2);
  }
}

.projectPage .modal {
  .close {
    background-color: gold;

    &:hover {
      background-color: black;
      color: gold;
    }
  }

  p {
    color: gold;
  }
}

@media (max-aspect-ratio: 1.2) {
  .projectPage {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .projectHeader {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 8vw;

    img {
      width: 40vw;
      margin: 5vw 0;
    }

    .text {
      align-items: center;
      text-align: center;

      h1 {
        font-size: 8vw;
      }

      p {
        font-style: italic;
        font-size: 3vw;
        margin: 2vw 0;
      }

      .entry {
        margin: 1.5vw 0;
        align-items: flex-start;
        max-width: 80%;

        img {
          width: 3vw;
          height: 3.5vw;
          margin: 0;
          margin-right: 2vw;
          margin-left: 0;
        }

        p {
          font-style: normal;
          font-size: 2.5vw;
          margin: 0;
        }
      }

      .buttons {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2vw;

        button {
          border: 0.3vw solid white;
          padding: 1.5vw 2vw;
          font-size: 2vw;
          margin: 1.5vw;
        }
      }
    }
  }

  .projectDetailRow {
    flex-direction: column;
    margin: 0;

    .photo, .video {
      width: 70vw;
      margin: 5vw 0;

      p {
        font-size: 3vw;
        margin: 2vw 0;
      }
    }

    .photo {
      .wide {
        width: 70vw;
      }

      .long {
        width: 70vw;
        max-height: 70vw;
      }

      img {
        width: 70vw;
        max-height: 70vw;
      }
    }

    .video {
      width: 70vw;
      height: 70vw * .5625 + 13vw;
    }

    .text {
      width: 100%;

      .title {
        margin-top: 10vw;

        img {
          width: 5vw;
          margin-right: 2vw;
        }

        h2 {
          font-size: 6vw;
        }
      }

      p {
        font-size: 3vw;
      }

      ul {
        margin-left: 5vw;

        strong {
          font-size: 3vw;
          padding-right: 0.5vw;
        }

        li {
          font-size: 3vw;
          margin: 2vw 0;

          a {
            font-size: 3vw;
          }
        }
      }
    }
  }

  .projectPage .backtotop {
    font-size: 4vw;
    margin: 6vw 0;
  }
}