.homeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  font-size: 1.5vmin;

  img {
    width: 90vmin;
  }

  button {
    padding: 1vmin 5vmin;
    background-color: #1f61d5;
    box-shadow: 1vmin 1vmin 0 rgba(0, 0, 255, .5);
    color: white;
    font-size: 4vmin;
    border: none;
    margin-top: 15vmin;
    
    &:hover {
      background-color: blue;
      cursor: pointer;
    }
  }
}