#musicPage {
    #avatarHeader {
      width: 90%;
      align-self: center;
      margin-top: 5vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30vw;
      padding: 0 2vw;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1.8vw;
        width: 60%;
        height: 100%;
      }

      img {
        height: 100%;
      }
  }

  .divider {
    margin: 5vw 0;
    width: 90%;
    height: 6vw;
    align-self: center;
  }
}

#musicPage .musicImages {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
  align-self: center;
  position: relative;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 0;

    img {
      height: 11vw;
      transition: 0.2s ease;

      &:hover {
        cursor: pointer;
        transition: 0.2s ease;
        filter: invert(0.2);
      }
    }
  }

  .hoverText {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    color: lightskyblue;
  }
}

.musicRow {
  width: 85%;
  margin-top: 5vw;
  margin-bottom: 7vw;
  display: flex;
  align-self: center;
  justify-content: space-between;

  h2 {
    font-weight: bold;
    margin-bottom: 1.5vw;
    font-size: 2.5vw;
    color: lightskyblue;
  }

  .text p {
    font-size: 1.5vw;
    margin-bottom: 1vw;
  }

  .text, .media {
    width: 48%;
    display: flex;
    flex-direction: column;
  }

  .video {
    width: 30vw;
    height: 30vw * .5625;
  }

  .media, .video {

    &:hover img {
      cursor: pointer;
    }
    &:hover p {
        color: lightskyblue;
      }

    p {
      margin-top: 0.5vw;
      font-size: 1.3vw;
    }
  }
}

#thesisMedia {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 57%;

  #thesis {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.7s ease;

    &:hover {
      img {
        filter: invert(0.2);
      }
    }
    
    img {
      transition: 0.7s ease;
      width: 12vw;
      border: 2px solid white;
    }

    p {
      position: absolute;
      width: 85%;
      text-align: center;
      font-size: 2vw;
      font-weight: bold;
      color: goldenrod;
    }

    #title {
      top: 9%;
      left: 50%;
      transform: translate(-50%, 0);
    }

    #description {
      bottom: 8%;
      font-size: 0.7vw;
    }
  }
}

#abroadImages {
  position: relative;

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw 0;

    img {
      height: 12vw;
      transition: 0.2s ease;

      &:hover {
        cursor: pointer;
        transition: 0.2s ease;
        filter: invert(0.2);
      }
    }
  }

  .hoverText {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    font-size: 1.5vw;
  }
}

#musicPage #backtotop {
  width: fit-content;
  align-self: center;
  font-size: 2vw;
  transition: 0.5s ease;

  &:hover {
    transition: 0.5s ease;
    cursor: pointer;
    color: #3373FF;
  }
}

.videoSamples {
  margin-top: 1vw;

  .video {
    width: 24vw;
    height: 24vw * .5625;
  }
}

.compositions {
  align-self: center;
  width: 75%;
  border: 0.4vw solid white;
  margin-top: 5vw;

  #header {
    padding: 0.2vw 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.4vw solid white;
    background-color: lightseagreen;
    color: black;
    
    h2 {
      font-weight: bold;
    }

    img {
      width: 1.5vw;
    }
  }

  #content {
    display: flex;
    width: 100%;
    height: 35vw;
    
    #list {
      padding: 1.5vw;
      width: 65%;
      //border-right: 0.4vw solid white;  
      background-color: rgb(66, 66, 66);
      color: white;
      overflow-y: scroll;
    }

    #preview {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      color: black;
      background-color: lightblue;
      padding: 1.5vw;
      width: 35%;
    }
  }
}

.compositions #list {
  .section {
    margin-bottom: 2vw;

    .sectionHeader {
      display: flex;
      align-items: center;
      margin-bottom: 0.5vw;
      
      img {
        margin-right: 1vw;
        width: 2vw;
        height: 2vw;
        object-fit: contain;
      }

      p {
        font-size: 1.4vw;
        margin-right: 0.5vw;
        color: white;
      }

      h3 {
        color: lightskyblue;
        font-size: 1.8vw;
        font-weight: bold;
      }
    }

    ul {

      li {
        justify-content: space-between;
        display: flex;
        margin: 0.9vw 0;
        font-size: 1.4vw;
        color: lightcyan;
        align-items: center;
        transition: 0.3s ease;

        &:hover {
          transition: 0.3s ease;
          color: lightseagreen;
          cursor: pointer;
        }

        img {
          width: 1.2vw;
          margin-right: 1vw;
        }

        .title {
          margin-left: 1vw;
          font-size: 1.3vw;
        }

        .composer {
          font-size: 1vw;
        }
      }

      .selected {
        background-color: lightcyan;
        padding: 1vw 0;
        padding-right: 1vw;
        color: darkblue;
        border: 4px solid lightblue;

        .title, .composer {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

.compositions #preview {
  position: relative;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .note {
    position: absolute;
    width: 1vw;
  }

  #note1 {
    top: 5%;
    left: 7%;
  }

  #note2 {
    top: 15%;
    right: 6%;
    transform: scaleX(-1);
  }

  h3 { // title
    font-weight: bold;
    font-size: 2vw;
    margin: 0 1.5vw;
    text-align: center;
    color: navy;
  }

  .subtext {
    text-align: center;
    font-size: 0.9vw;
    margin-top: 0.3vw;
    color: darkslateblue;
  }

  #composer {
    display: flex;
    align-items: center;
    margin-top: 0.5vw;

    img {
      width: 0.8vw;
    }

    p {
      margin-left: 0.7vw;
      font-size: 1.4svw;
    }
  }

  #samplePage {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 11vw;
      height: 14vw;
      background-color: white;
      border: 3px solid black;
      transition: 0.3s ease;

       &:hover {
        transition: 0.3s ease;
        filter: invert(0.2);
        cursor: pointer;
       }
    }

    p {
      margin-top: 0.1vw;
      font-size: 0.8vw;
      color: rgb(85, 82, 82);
    }
  }

  .listen {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 0.4vw 0.7vw;
    border: 2px solid black;

    img {
      width: 1.3vw;
      object-fit: contain;
    }

    p {
      margin-left: 0.8vw;
      font-size: 1.2vw;
    }
  }

  .available {
    transition: 0.5s ease;
    background-color: lightseagreen;
    
    &:hover {
      transition: 0.5s ease;
      cursor: pointer;
      background-color: darkcyan;
      color: white;
    }
  }

  #instrumentation {
    display: flex;
    align-items: center;

    img {
      width: 1.5vw;
      height: 1.5vw;
      object-fit: contain;
      margin-right: 0.3vw;
    }

    p {
      margin: 0 0.2vw;
      font-size: 1.1vw;
      font-weight: bold;
      color: brown;
    }
  }
}

#musicPage .socials {
  align-self: flex-end;
  margin-top: 4vw;

}



